.callButton {
    height: 35px;
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}
.callButton:focus {
    outline: none;
}

.callButtonMainDiv{
    display: flex;
 }