.callButton {
    height: 35px;
    width: 50px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}
.callButton:focus {
    outline: none;
}

